h1 {
  color:rgb(133, 121, 121)
}
body{
background-color:#828282;
}
.header {
background-color: #00ffea;
display:flex;
justify-content: space-between;
}
.games {
background-color:#ea6df3;   
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.trex {
border-style:groove;
}
.trex,p {
color: rgb(165, 165, 165);    
}
.link {
display:flex;
justify-content: flex-end;
}